* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image: url("../bilder/BGadm.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    margin-bottom: 3rem;
}

#gridContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.containerStandard {
    padding: 1rem;
    background-color: deepskyblue;
    grid-column: span 2;
    border-radius: 2%;
}

    .containerStandard h2 {
        margin-bottom: 1rem;
    }

#lagoversikt, #laglisteOverskrift, #lagliste {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

footer {
    margin-top: 4rem;
    text-align: center;
}

.knappRod {
    background-color: red;
    border: none;
    padding: 0.3rem;
    margin: 0.1rem 0 0.1rem 0;
}

.knappRod:hover {
    background-color: orangered;
}

.knappGronn {
    background-color: limegreen;
    border: none;
    padding: 0.3rem;
    margin: 0.1rem 0 0.1rem 0;
}

.knappGronn:hover {
    background-color: lawngreen;
}
.knappOransje {
    background-color: orange;
    border: none;
    padding: 0.3rem;
    margin: 0.1rem 0 0.1rem 0;
}

.knappOransje:hover {
    background-color: darkorange;
}

.kol-1 {
    grid-column: span 1;
}

.kol-2 {
    grid-column: span 2;
}

.kol-3 {
    grid-column: span 3;
}

.kol-4 {
    grid-column: span 3;
}

.kol-5 {
    grid-column: span 3;
}

.kol-6 {
    grid-column: span 3;
}

.kol-7 {
    grid-column: span 7;
}

.kol-8 {
    grid-column: span 8;
}

.kol-9 {
    grid-column: span 3;
}

.kol-10 {
    grid-column: span 10;
}
