* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color: lightskyblue;
}
header {
    text-align: center;
    margin-bottom: 3rem;
}
#gridContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.containerStandard {
    padding: 1rem;
    background-color: dodgerblue;
    grid-column: span 2;
}
.containerStandard h2 {
    margin-bottom: 1rem;
}
#lagoversikt, #laglisteOverskrift, #lagliste {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

footer {
    margin-top: 4rem;
    text-align: center;
}
.kol-1 {
    grid-column: span 1;
}

.kol-2 {
    grid-column: span 2;
}

.kol-3 {
    grid-column: span 3;
}

.kol-4 {
    grid-column: span 3;
}

.kol-5 {
    grid-column: span 3;
}

.kol-6 {
    grid-column: span 3;
}

.kol-7 {
    grid-column: span 7;
}

.kol-8 {
    grid-column: span 8;
}

.kol-9 {
    grid-column: span 3;
}

.kol-10 {
    grid-column: span 10;
}
