* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-image: url("../bilder/BGreg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
header, main, footer {
    grid-column: span 4;
}
header {
    height: 10vh;
}
main {
    height: 80vh;
    background-color: lightblue;
}
footer {
    height: 8vh;
    margin-top: 2vh;
}
.gridFill {
    grid-column: span 4;
}